@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700,900');

* {
  min-width: 0;
  min-height: 0;
  max-width: 100%;
}
body {
  margin: 0;
  font-family: 'DM Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0C0D2C;
  letter-spacing: -0.03em;
  font-weight: 500;
}
html{
  scrollbar-width: none;
}
body::-webkit-scrollbar{
  display: none;
}
